[Unit]
Description=Smart Scale Dashboard Service
After=network.target smart_scale.service
Wants=smart_scale.service

[Service]
Type=simple
User=rudeus
WorkingDirectory=/home/rudeus/wata_projekt/rp-smart_scale_analysis-master
ExecStart=/home/rudeus/wata_projekt/rp-smart_scale_analysis-master/.venv/bin/python3 webapp/app.py
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scale_dashboard
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target