[Unit]
Description=Smart Scale Measurement Service
After=network.target bluetooth.target
Wants=bluetooth.target

[Service]
Type=simple
User=rudeus
WorkingDirectory=/home/rudeus/wata_projekt/rp-smart_scale_analysis-master
ExecStart=/home/rudeus/wata_projekt/rp-smart_scale_analysis-master/.venv/bin/python3 -m smart_scale.main
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=smart_scale
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target